<div class="container-fluid analysts">
    <div class="container">
        <div class="row">
            <div class="analysts_title">Recognized leadership</div>
            <div class="analysts_subtitle">Our teams develop award-winning technologies</div>
            <div class="col-md-4 analysts-card-col">
                <div class="analysts-card hvr-float">
                    <div class="analysts-product-category appsec">Application Security</div>
                    <img src="{{ asset('build/images/logo-analysts-gartner-white.svg') }}" class="analysts-logo">
                    <h2>One solution. Comprehensive protection.</h2>
                    <p>Protect your applications and secure your future with Imperva — a 9-time Leader in the Gartner® Magic Quadrant™ for WAAP</p>
                    <a href="#" class="news-learn-more hvr-icon-forward">Read the Report <i class="bi bi-arrow-right hvr-icon"></i></a>
                </div>
            </div>
            <div class="col-md-4 analysts-card-col">
                <div class="analysts-card hvr-float">
                    <div class="analysts-product-category datasec">Data Security</div>
                    <img src="{{ asset('build/images/logo-analysts-kuppingercole-white.svg') }}" class="analysts-logo">
                    <h2>Integrated platform approach to Data Protection</h2>
                    <p>Imperva named an overall leader in the 2021 KuppingerCole Leadership Compass for Database and Big Data Security</p>
                    <a href="#" class="news-learn-more hvr-icon-forward">Read the Report <i class="bi bi-arrow-right hvr-icon"></i></a>
                </div>
            </div>
            <div class="col-md-4 analysts-card-col">
                <div class="analysts-card hvr-float">
                    <div class="analysts-product-category appsec">Application Security</div>
                    <img src="{{ asset('build/images/logo-analysts-forrester-white.svg') }}" class="analysts-logo">
                    <h2>Imperva is a Leader that is strong in both bot detection and attack response</h2>
                    <p>The Forrester Wave™: Bot Management, Q2 2022</p>
                    <a href="#" class="news-learn-more hvr-icon-forward">Read the Report <i class="bi bi-arrow-right hvr-icon"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
