<div class="container-fluid" id="bottom-nav-container-fluid">
    <div class="container" id="bottom-nav-container">
        <footer class="py-5">
            <div class="row">
                <div class="col-12 col-md-3 mb-3">
                    <h5><i class="bi bi-plus-square"></i>Partners</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Imperva Partner Ecosystem</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Channel Partners</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Technology Alliances</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Find a Partner</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Partner Portal Login</a></li>
                    </ul>
                </div>

                <div class="col-12 col-md-3 mb-3">
                    <h5><i class="bi bi-life-preserver"></i>Support</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Emergency DDoS Protection</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Support Portal</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Imperva Community</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Documentation Portal</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">API Integration</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Trust Center</a></li>
                    </ul>
                </div>

                <div class="col-12 col-md-3 mb-3">
                    <h5><i class="bi bi-book"></i>Resources</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Imperva Blog</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Resource Library</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Case Studies</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Learning Center</a></li>
                    </ul>
                </div>

                <div class="col-12 col-md-3 mb-3">
                    <h5><i class="bi bi-megaphone"></i>About Us</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Who We Are</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Events</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Careers</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Press & Awards</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Contact Information</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>
