<div class="container-fluid discovery">
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-auto">
                <div class="discovery-image">
                    <img src="{{ asset('build/images/logo-discovery.png') }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="discovery-title">Discovery, Inc. tackles data compliance in public cloud</div>
                <div class="discovery-text">Discovery, Inc. uses Imperva Data Security Fabric to gain single pane of glass visibility into both on-premises and cloud-based data sources and ensure continuing satisfaction of data security and compliance requirements.</div>
                <button class="btn-imperva-gradient-1">Customer Story<i class="bi bi-arrow-right-circle"></i></button>
            </div>
        </div>
    </div>
</div>
