<div class="container-fluid" id="legal-container-fluid">
    <div class="container-xxl pt-3 pb-3">
        <div class="d-flex flex-column flex-sm-row justify-content-between">
            Copyright © 2022 Imperva. All rights reserved.
            <ul class="list-unstyled d-flex mb-0">
                <li class="ms-3"><a href="#">Cookie Settings</a></li>
                <li class="ms-3"><a href="#">Trust Center</a></li>
                <li class="ms-3"><a href="#">Modern Slavery Statement</a></li>
                <li class="ms-3"><a href="#">Privacy</a></li>
                <li class="ms-3"><a href="#">Legal</a></li>
            </ul>
        </div>
    </div>
</div>
