<style>
    @media (max-width: 1280px) {
        .news-card {
            margin-top: 0!important;
        }
    }
</style>

<div class="container-fluid" id="newspromo-header-container-fluid">

</div>
<div class="container-fluid" id="newspromo-body-container-fluid">
    <div class="container">
        <div class="row">
            <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="news-card hvr-float">
                    <div class="news-type">News</div>
                    <h2>DDoS Threat Landscape Report Q2 2022</h2>
                    <p>During the second quarter of 2022, Imperva detected and mitigated record-breaking DDoS attacks. Read our report to wee what we learned!</p>
                    <a href="#" class="news-learn-more hvr-icon-forward">Learn More <i class="bi bi-arrow-right hvr-icon"></i></a>
                </div>
            </div>
            <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="news-card hvr-float">
                    <div class="news-type">News</div>
                    <h2>KuppingerCole has named Imperva an Overall Leader in WAF</h2>
                    <p>KuppingerCole has named Imperva the top Leader in Market and Product evaluations and an overall leader for the WAF market.</p>
                    <a href="#" class="news-learn-more hvr-icon-forward">Learn More <i class="bi bi-arrow-right hvr-icon"></i></a>
                </div>
            </div>
            <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="news-card hvr-float">
                    <div class="news-type">News</div>
                    <h2>Quantifying the Cost of API Insecurity</h2>
                    <p>In an effort to quantify the cost of API insecurity, Imperva partnered with the Marsh McLennan Cyber Risk Analytics Center to analyze API-related incident data.</p>
                    <a href="#" class="news-learn-more hvr-icon-forward">Learn More <i class="bi bi-arrow-right hvr-icon"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
