<div class="container-fluid ntt-testimonial">
    <div class="container container-ntt-testimonial">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ asset('build/images/logo-company-ntt-tx.png') }}" style="width: 180px; margin-bottom: 40px;">
                <div style="font-weight: 100; font-size: 2.2em;">After implementing Cloud WAF, countermeasures against specific threats have been off our radar in a good sense and we essentially leave things to Imperva.</div>
                <div style="margin-top: 30px; font-weight:100; line-height: 1.8em;">Ryo Sakamoto<br />Section Manager</div>
            </div>
            <div class="col-md-6 my-auto hvr-grow-2" style="text-align: center; font-weight: 100;">
                <i class="bi bi-play-circle play-large" style="font-size: 6em;"></i>
            </div>
        </div>
    </div>
</div>
