<div class="container-fluid ntt-testimonial">
    <div class="container container-ntt-testimonial">
        <div class="row">
            <div class="col-md-6">
                <div class="discovery-title">NTT TechnoCross achieves stable web operations</div>
                <div class="discovery-text">NTT required a solution that had a global track record of adoption, operability that reduces operating load, availability that achieves stable operation, ease of implementation, usage not as an asset but as a service, and monthly payable usage fees. Imperva Cloud WAF was the answer.</div>
                <button class="btn-imperva-gradient-1">Customer Story<i class="bi bi-arrow-right-circle"></i></button>
            </div>
            <div class="col-md-6 my-auto">
                <div class="discovery-image">
                    <img src="{{ asset('build/images/logo-company-ntt-tx.png') }}">
                </div>
            </div>
        </div>
    </div>
</div>
