 <nav class="navbar-expand-xxl pt-0 pb-0 d-none d-lg-block" id="top-nav">
     <div class="container-fluid" id="top-nav-container-fluid">
        <div class="container-xxl pt-0 pb-0">
            <div class="navbar">
                <ul class="nav me-auto" id="top-nav-navbar">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle first" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sign In</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Cloud Security Console</a></li>
                            <li><a class="dropdown-item" href="#">RASP Console</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">EN</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Deutsch</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Español</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Français</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Português</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">日本語</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">한국어</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">中文</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav text-end" id="top-nav-navbar">
                    <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Resources</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Get Support</a></li>
                    <li class="nav-item pr-0"><a id="attack" class="nav-link" href="#">Under DDOS Attack?</a></li>
                </ul>
            </div>
        </div>
    </div>
 </nav>
